In [1]:
import pandas as pd
import numpy as np
import os
os.chdir('/Users/pipegalera/dev/ml_diabetes/')
from pyfiles.utils import get_raw_nhanes, prep_nhanes

In [11]:
diagnosis_diabestes_dict = {1:"Yes",
                            2:"No",
                            3:"Borderline",
                            7:"Refused",
                            9:"Don't know",}

gender = {1:"Male",
          2:"Female" }

In [4]:
# Extracting data
YEARS = ['2011-2012', '2013-2014']

df = pd.DataFrame()
for year in YEARS:
  df_year = get_raw_nhanes(year).pipe(prep_nhanes)
  df = pd.concat([df, df_year]).reset_index(drop=True)

In [5]:
df

,Year,Person ID,Age,Gender,Weight,Height,BMI,Waist,Diastolic Blood pressure,Systolic Blood pressure,Pulse,Triglyceride,LDL-Cholesterol,Glycohemoglobin,Glucose,Diagnosed Diabetes
0,2011-2012,62161.0,22.0,1.0,69.2,172.3,23.3,81.0,74.0,118.0,82.0,0.948,110.0,5.1,5.107,2.0
1,2011-2012,62162.0,3.0,2.0,12.7,94.7,14.2,45.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
2,2011-2012,62163.0,14.0,1.0,49.4,168.9,17.3,64.6,38.0,106.0,72.0,NaN,NaN,5.5,NaN,2.0
3,2011-2012,62164.0,44.0,2.0,67.2,170.1,23.2,80.1,58.0,120.0,82.0,0.632,151.0,4.9,4.552,2.0
4,2011-2012,62165.0,14.0,2.0,69.1,159.4,27.2,86.7,78.0,106.0,70.0,0.802,84.0,5.9,4.885,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19926,2013-2014,83727.0,26.0,1.0,71.8,171.3,24.5,87.1,76.0,112.0,60.0,0.914,119.0,5.0,5.995,2.0
19927,2013-2014,83728.0,2.0,2.0,11.3,84.4,15.9,47.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
19928,2013-2014,83729.0,42.0,2.0,89.6,162.3,34.0,102.7,80.0,138.0,80.0,NaN,NaN,5.3,NaN,2.0
19929,2013-2014,83730.0,7.0,1.0,22.8,119.1,16.1,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
19930,2013-2014,83731.0,11.0,1.0,42.3,148.1,19.3,73.5,62.0,90.0,90.0,NaN,NaN,NaN,NaN,2.0

In [6]:
# Diabetes Definition (Target)
cond_1 = df['Glucose'] >= 7.0
cond_2 = df['Glycohemoglobin'] >= 6.5
cond_3 = df['Diagnosed Diabetes'] == True

df['Diabetes'] = np.where(cond_1 | cond_2 | cond_3, 1, 0)

In [7]:
df[df['Diabetes'] == 1]

,Year,Person ID,Age,Gender,Weight,Height,BMI,Waist,Diastolic Blood pressure,Systolic Blood pressure,Pulse,Triglyceride,LDL-Cholesterol,Glycohemoglobin,Glucose,Diagnosed Diabetes,Diabetes
48,2011-2012,62209.0,62.0,2.0,53.5,143.4,26.0,92.9,58.0,106.0,72.0,6.379,NaN,5.7,7.660,2.0,1
50,2011-2012,62211.0,63.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1
54,2011-2012,62215.0,65.0,2.0,60.2,150.1,26.7,94.0,70.0,130.0,74.0,0.892,142.0,9.6,8.937,1.0,1
56,2011-2012,62217.0,77.0,2.0,69.8,151.1,30.6,118.6,56.0,130.0,50.0,1.208,106.0,7.0,9.881,1.0,1
60,2011-2012,62221.0,41.0,2.0,145.2,166.2,52.6,141.8,70.0,130.0,106.0,NaN,NaN,7.2,NaN,2.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19859,2013-2014,83660.0,69.0,1.0,81.0,165.7,29.5,101.2,76.0,132.0,60.0,NaN,NaN,6.3,NaN,1.0,1
19862,2013-2014,83663.0,72.0,2.0,74.6,163.5,27.9,110.5,52.0,108.0,94.0,NaN,NaN,6.6,NaN,3.0,1
19875,2013-2014,83676.0,51.0,2.0,60.0,152.1,25.9,90.5,72.0,114.0,74.0,1.727,117.0,6.8,8.327,1.0,1
19907,2013-2014,83708.0,64.0,1.0,175.2,188.3,49.4,157.6,68.0,92.0,64.0,1.276,103.0,8.9,7.993,1.0,1
19922,2013-2014,83723.0,61.0,1.0,99.5,173.5,33.1,115.0,68.0,138.0,74.0,1.163,116.0,7.4,8.826,1.0,1

In [8]:
df[df['Diabetes'] == 0]

,Year,Person ID,Age,Gender,Weight,Height,BMI,Waist,Diastolic Blood pressure,Systolic Blood pressure,Pulse,Triglyceride,LDL-Cholesterol,Glycohemoglobin,Glucose,Diagnosed Diabetes,Diabetes
0,2011-2012,62161.0,22.0,1.0,69.2,172.3,23.3,81.0,74.0,118.0,82.0,0.948,110.0,5.1,5.107,2.0,0
1,2011-2012,62162.0,3.0,2.0,12.7,94.7,14.2,45.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0
2,2011-2012,62163.0,14.0,1.0,49.4,168.9,17.3,64.6,38.0,106.0,72.0,NaN,NaN,5.5,NaN,2.0,0
3,2011-2012,62164.0,44.0,2.0,67.2,170.1,23.2,80.1,58.0,120.0,82.0,0.632,151.0,4.9,4.552,2.0,0
4,2011-2012,62165.0,14.0,2.0,69.1,159.4,27.2,86.7,78.0,106.0,70.0,0.802,84.0,5.9,4.885,2.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19926,2013-2014,83727.0,26.0,1.0,71.8,171.3,24.5,87.1,76.0,112.0,60.0,0.914,119.0,5.0,5.995,2.0,0
19927,2013-2014,83728.0,2.0,2.0,11.3,84.4,15.9,47.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0
19928,2013-2014,83729.0,42.0,2.0,89.6,162.3,34.0,102.7,80.0,138.0,80.0,NaN,NaN,5.3,NaN,2.0,0
19929,2013-2014,83730.0,7.0,1.0,22.8,119.1,16.1,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,0
19930,2013-2014,83731.0,11.0,1.0,42.3,148.1,19.3,73.5,62.0,90.0,90.0,NaN,NaN,NaN,NaN,2.0,0

Around 10-11% of the sample can be classified as Diabetes = 1 - which makes sense since approx 12% of the world population has diabetes.

In [8]:
def filter_age(nhanes_data):

  df = nhanes_data.copy()

  cond_1 = df['Age'] >= 10
  cond_2 = df['Age'] <  80
  df = df[cond_1 & cond_2]

  return df

df = df.pipe(filter_age)

In [10]:
df[df['Diabetes'] == 'Yes']

,Year,Person ID,Age,Gender,Weight,Height,BMI,Waist,Diastolic Blood pressure,Systolic Blood pressure,Pulse,Triglyceride,LDL-Cholesterol,Glycohemoglobin,Glucose,Diagnosed Diabetes,Diabetes
48,2011-2012,62209.0,62.0,Female,53.5,143.4,26.0,92.9,58.0,106.0,72.0,6.379,NaN,5.7,7.660,No,Yes
54,2011-2012,62215.0,65.0,Female,60.2,150.1,26.7,94.0,70.0,130.0,74.0,0.892,142.0,9.6,8.937,Yes,Yes
56,2011-2012,62217.0,77.0,Female,69.8,151.1,30.6,118.6,56.0,130.0,50.0,1.208,106.0,7.0,9.881,Yes,Yes
60,2011-2012,62221.0,41.0,Female,145.2,166.2,52.6,141.8,70.0,130.0,106.0,NaN,NaN,7.2,NaN,No,Yes
67,2011-2012,62228.0,50.0,Male,164.9,195.0,43.4,136.1,74.0,118.0,88.0,2.168,112.0,8.7,11.324,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19854,2013-2014,83655.0,41.0,Male,166.3,186.0,48.1,153.0,NaN,NaN,NaN,1.614,121.0,6.6,8.104,Yes,Yes
19862,2013-2014,83663.0,72.0,Female,74.6,163.5,27.9,110.5,52.0,108.0,94.0,NaN,NaN,6.6,NaN,Borderline,Yes
19875,2013-2014,83676.0,51.0,Female,60.0,152.1,25.9,90.5,72.0,114.0,74.0,1.727,117.0,6.8,8.327,Yes,Yes
19907,2013-2014,83708.0,64.0,Male,175.2,188.3,49.4,157.6,68.0,92.0,64.0,1.276,103.0,8.9,7.993,Yes,Yes
19922,2013-2014,83723.0,61.0,Male,99.5,173.5,33.1,115.0,68.0,138.0,74.0,1.163,116.0,7.4,8.826,Yes,Yes

In [11]:
df[df['Diabetes'] == 'No']

,Year,Person ID,Age,Gender,Weight,Height,BMI,Waist,Diastolic Blood pressure,Systolic Blood pressure,Pulse,Triglyceride,LDL-Cholesterol,Glycohemoglobin,Glucose,Diagnosed Diabetes,Diabetes
0,2011-2012,62161.0,22.0,Male,69.2,172.3,23.3,81.0,74.0,118.0,82.0,0.948,110.0,5.1,5.107,No,No
2,2011-2012,62163.0,14.0,Male,49.4,168.9,17.3,64.6,38.0,106.0,72.0,NaN,NaN,5.5,NaN,No,No
3,2011-2012,62164.0,44.0,Female,67.2,170.1,23.2,80.1,58.0,120.0,82.0,0.632,151.0,4.9,4.552,No,No
4,2011-2012,62165.0,14.0,Female,69.1,159.4,27.2,86.7,78.0,106.0,70.0,0.802,84.0,5.9,4.885,No,No
8,2011-2012,62169.0,21.0,Male,54.6,164.8,20.1,69.6,80.0,124.0,72.0,0.881,73.0,5.4,5.940,No,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19920,2013-2014,83721.0,52.0,Male,79.5,176.2,25.6,92.7,76.0,108.0,64.0,NaN,NaN,5.4,NaN,No,No
19925,2013-2014,83726.0,40.0,Male,79.0,171.7,26.8,97.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No
19926,2013-2014,83727.0,26.0,Male,71.8,171.3,24.5,87.1,76.0,112.0,60.0,0.914,119.0,5.0,5.995,No,No
19928,2013-2014,83729.0,42.0,Female,89.6,162.3,34.0,102.7,80.0,138.0,80.0,NaN,NaN,5.3,NaN,No,No
19930,2013-2014,83731.0,11.0,Male,42.3,148.1,19.3,73.5,62.0,90.0,90.0,NaN,NaN,NaN,NaN,No,No

In [10]:
df.dtypes

Year                         object
Person ID                   float64
Age                         float64
Gender                      float64
Weight                      float64
Height                      float64
BMI                         float64
Waist                       float64
Diastolic Blood pressure    float64
Systolic Blood pressure     float64
Pulse                       float64
Triglyceride                float64
LDL-Cholesterol             float64
Glycohemoglobin             float64
Glucose                     float64
Diagnosed Diabetes          float64
Diabetes                      int64
dtype: object

In [ ]:
to_drop = ['Year', 'Person ID',]

df = df.drop(to_drop, axis=1)

# Train test split

In [14]:
SEED = 4208

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
categorical = ['Gender', 'Diagnosed Diabetes']
continuous =  ['Age', 'Weight', 'Height', 'BMI', 'Waist', 
            'Diastolic Blood pressure', 'Systolic Blood pressure', 'Pulse',
            'Triglyceride', 'LDL-Cholesterol', 'Glycohemoglobin', 'Glucose']
labels = ['Diabetes']

In [21]:
X_train, X_test, y_train, y_test = train_test_split(df[categorical + continuous], 
                                                    df[labels], 
                                                    test_size=0.3, 
                                                    stratify = df[labels],
                                                    random_state=SEED)

## Load the data in Pytorch

In [28]:
import torch
from torch import nn
from torch.utils.data import Dataset, DataLoader

In [29]:
import random

def set_seed(seed):
    random.seed(seed)
    np.random.seed(seed)
    
    torch.manual_seed(seed)
    torch.backends.cudnn.deterministick = True
    torch.backends.cudnn.benchmark = False 
    
set_seed(SEED)

In [30]:
device = (
    "cuda"
    if torch.cuda.is_available()
    else "mps"
    if torch.backends.mps.is_available()
    else "cpu"
)
print(f"Using {device} device")

Using mps device

In [31]:
class ClassificationDataset(Dataset):
    def __init__(self, data, targets=None,
                 is_train=True, cat_cols_idx=None,
                 cont_cols_idx=None):
        self.data = data
        self.targets = targets
        self.is_train = is_train
        self.cat_cols_idx = cat_cols_idx
        self.cont_cols_idx = cont_cols_idx
    
    def __getitem__(self, idx):
        row = self.data[idx].astype('float32')
        
        data_cat = []
        data_cont = []
        
        result = None
        
        if self.cat_cols_idx:
            data_cat = torch.tensor(row[self.cat_cols_idx])
            
        if self.cont_cols_idx:
            data_cont = torch.tensor(row[self.cont_cols_idx])
                
        data = [data_cat, data_cont]
                
        if self.is_train:
            result = {'data': data,
                      'target': torch.tensor(self.targets[idx])}
        else:
            result = {'data': data}
            
        return result
            
    
    def __len__(self):
        return(len(self.data))

In [32]:
def create_cont_cat_indexes(data):
    
    df = data.copy()

    cat_cols_idx, cont_cols_idx = list(), list()

    for idx, column in enumerate(df.columns):
        if column in categorical:
            cat_cols_idx.append(idx)
        elif column in continuous:
            cont_cols_idx.append(idx)

    return cat_cols_idx, cont_cols_idx

In [33]:
cat_cols_idx, cont_cols_idx = create_cont_cat_indexes(X_train)

In [34]:
cat_cols_idx

[0, 1]

In [35]:
X_train.columns[0], X_train.columns[1]

('Gender', 'Diagnosed Diabetes')

In [36]:
cont_cols_idx

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [37]:
X_train.columns[2:14]

Index(['Age', 'Weight', 'Height', 'BMI', 'Waist', 'Diastolic Blood pressure',
       'Systolic Blood pressure', 'Pulse', 'Triglyceride', 'LDL-Cholesterol',
       'Glycohemoglobin', 'Glucose'],
      dtype='object')

We see that the categorical column indexes correspond to the categorical variables and the continues column indexes correspond to the continious variables

In [38]:
train_dataset = ClassificationDataset(X_train, 
                                      targets=y_train,
                                      cat_cols_idx=cat_cols_idx,
                                      cont_cols_idx=cont_cols_idx,
                                      is_train=True)

valid_dataset = ClassificationDataset(X_test, 
                                      targets=y_test,
                                      cat_cols_idx=cat_cols_idx,
                                      cont_cols_idx=cont_cols_idx,
                                      is_train=True)

In [62]:
dataloader_train = DataLoader(train_dataset, 
                              batch_size=16, 
                              shuffle=True)
dataloader_valid = DataLoader(valid_dataset, 
                             batch_size=16, 
                             shuffle=False)

In [63]:
len(train_dataset), len(valid_dataset)

(13951, 5980)

In [64]:
len(dataloader_train), len(dataloader_valid)

(872, 374)

## Basic NN of the paper

In [65]:
from torch.optim import Adam

In [66]:
class Basic_NN(nn.Module):
    def __init__(self):
        super(Basic_NN, self).__init__()
        
        # Define the layers as described in the diagram
        self.fc1 = nn.Linear(14, 64)   # Input layer to first hidden layer
        self.fc2 = nn.Linear(64, 32)   # First hidden layer to second hidden layer
        self.fc3 = nn.Linear(32, 16)   # Second hidden layer to third hidden layer
        self.fc4 = nn.Linear(16, 8)    # Third hidden layer to fourth hidden layer
        self.fc5 = nn.Linear(8, 2)     # Fourth hidden layer to output layer

    def forward(self, x):
        x = F.relu(self.fc1(x))        # First hidden layer with ReLU
        x = F.relu(self.fc2(x))        # Second hidden layer with ReLU
        x = F.relu(self.fc3(x))        # Third hidden layer with ReLU
        x = F.relu(self.fc4(x))        # Fourth hidden layer with ReLU
        x = F.softmax(self.fc5(x), dim=1) # Output layer with Softmax
        
        return x

## Training

In the paper they use weighted Cross-Entropy per individual, still have to figure out how to implement that.

In [82]:
from torchmetrics import Precision, Recall
from tqdm.notebook import tqdm

In [83]:
def train_network(model, train_loader, valid_loader,
                  loss_func, optimizer, n_epochs=20,
                  saved_model='model.pt'):
    
    device = torch.device('cuda:0' if torch.cuda.is_available() else 'mps')
    model.to(device)
    
    train_losses = list()
    valid_losses = list()
    
    valid_loss_min = np.Inf
    
    for epoch in range(n_epochs):
        train_loss = 0.0
        valid_loss = 0.0
        
        train_auc = 0.0
        valid_auc = 0.0
        
        model.train()
        for batch in tqdm(train_loader):
            optimizer.zero_grad()
            
            output = model(batch['data'][0].to(device, 
                                               dtype=torch.long),
                           batch['data'][1].to(device, 
                                               dtype=torch.float))
            
            
            loss = loss_func(output, batch['target'].to(device, 
                                                        dtype=torch.float))
            
            loss.backward()
            optimizer.step()
            
            train_auc += metrics.roc_auc_score(batch['target'].cpu().numpy(),
                                               output.detach().cpu().numpy())

            train_loss += loss.item() * batch['data'][0].size(0)  #!!!
    

        model.eval()
        for batch in tqdm(valid_loader):
            output = model(batch['data'][0].to(device, 
                                               dtype=torch.long),
                           batch['data'][1].to(device, 
                                               dtype=torch.float))
            
            
            loss = loss_func(output, batch['target'].to(device, 
                                                        dtype=torch.float))
            
            valid_auc += metrics.roc_auc_score(batch['target'].cpu().numpy(),
                                               output.detach().cpu().numpy())
            valid_loss += loss.item() * batch['data'][0].size(0)  #!!!
           
        
        train_loss = np.sqrt(train_loss / len(train_loader.sampler.indices))
        valid_loss = np.sqrt(valid_loss / len(valid_loader.sampler.indices))

        train_auc = train_auc / len(train_loader)
        valid_auc = valid_auc / len(valid_loader)
        
        train_losses.append(train_loss)
        valid_losses.append(valid_loss)

        print('Epoch: {}. Training loss: {:.6f}. Validation loss: {:.6f}'
              .format(epoch, train_loss, valid_loss))
        print('Training AUC: {:.6f}. Validation AUC: {:.6f}'
              .format(train_auc, valid_auc))
        
        if valid_loss < valid_loss_min:  # let's save the best weights to use them in prediction
            print('Validation loss decreased ({:.6f} --> {:.6f}). Saving model...'
                  .format(valid_loss_min, valid_loss))
            
            torch.save(model.state_dict(), saved_model)
            valid_loss_min = valid_loss
            
    
    return train_losses, valid_losses

In [84]:
train_network(model = Basic_NN(),
              train_loader = dataloader_train, 
              valid_loader = dataloader_valid,
              loss_func = nn.BCEWithLogitsLoss(), 
              optimizer = Adam(model.parameters(), lr=0.001), 
              n_epochs= 3,
              saved_model='model.pt')

  0%|          | 0/872 [00:00<?, ?it/s]

KeyError: 1347