In [1]:
import pandas as pd
import numpy as np
import os
os.chdir('/Users/pipegalera/dev/ml_diabetes/')
from pyfiles.utils import get_raw_nhanes, clean_nhanes

In [2]:
# Extracting data
YEARS = ['2011-2012', '2013-2014']

df = pd.DataFrame()
for year in YEARS:
  df_year = get_raw_nhanes(year).pipe(clean_nhanes)
  df = pd.concat([df, df_year]).reset_index(drop=True)

In [4]:
df

,Year,Person ID,Age,Gender,Weight,Height,BMI,Waist,Diastolic Blood pressure,Systolic Blood pressure,Pulse,Triglyceride,LDL-Cholesterol,Glycohemoglobin,Glucose,Doctor told diabetes
0,2011-2012,62161.0,22.0,Male,69.2,172.3,23.3,81.0,74.0,118.0,82.0,0.948,110.0,5.1,5.107,No
1,2011-2012,62162.0,3.0,Female,12.7,94.7,14.2,45.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
2,2011-2012,62163.0,14.0,Male,49.4,168.9,17.3,64.6,38.0,106.0,72.0,NaN,NaN,5.5,NaN,No
3,2011-2012,62164.0,44.0,Female,67.2,170.1,23.2,80.1,58.0,120.0,82.0,0.632,151.0,4.9,4.552,No
4,2011-2012,62165.0,14.0,Female,69.1,159.4,27.2,86.7,78.0,106.0,70.0,0.802,84.0,5.9,4.885,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19926,2013-2014,83727.0,26.0,Male,71.8,171.3,24.5,87.1,76.0,112.0,60.0,0.914,119.0,5.0,5.995,No
19927,2013-2014,83728.0,2.0,Female,11.3,84.4,15.9,47.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
19928,2013-2014,83729.0,42.0,Female,89.6,162.3,34.0,102.7,80.0,138.0,80.0,NaN,NaN,5.3,NaN,No
19929,2013-2014,83730.0,7.0,Male,22.8,119.1,16.1,53.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No
19930,2013-2014,83731.0,11.0,Male,42.3,148.1,19.3,73.5,62.0,90.0,90.0,NaN,NaN,NaN,NaN,No

In [12]:
# Diabetes Definition (Target)
cond_1 = df['Glucose'] >= 7.0
cond_2 = df['Glycohemoglobin'] >= 6.5
cond_3 = df['Diagnosed Diabetes'] == True

df['Diabetes'] = np.where(cond_1 | cond_2 | cond_3, "Yes", "No")

In [13]:
df[df['Diabetes'] == 'Yes']

,Year,Person ID,Age,Gender,Weight,Height,BMI,Waist,Diastolic Blood pressure,Systolic Blood pressure,Pulse,Triglyceride,LDL-Cholesterol,Glycohemoglobin,Glucose,Doctor told diabetes,Diabetes
48,2011-2012,62209.0,62.0,Female,53.5,143.4,26.0,92.9,58.0,106.0,72.0,6.379,NaN,5.7,7.660,No,Yes
54,2011-2012,62215.0,65.0,Female,60.2,150.1,26.7,94.0,70.0,130.0,74.0,0.892,142.0,9.6,8.937,Yes,Yes
56,2011-2012,62217.0,77.0,Female,69.8,151.1,30.6,118.6,56.0,130.0,50.0,1.208,106.0,7.0,9.881,Yes,Yes
60,2011-2012,62221.0,41.0,Female,145.2,166.2,52.6,141.8,70.0,130.0,106.0,NaN,NaN,7.2,NaN,No,Yes
67,2011-2012,62228.0,50.0,Male,164.9,195.0,43.4,136.1,74.0,118.0,88.0,2.168,112.0,8.7,11.324,Yes,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19854,2013-2014,83655.0,41.0,Male,166.3,186.0,48.1,153.0,NaN,NaN,NaN,1.614,121.0,6.6,8.104,Yes,Yes
19862,2013-2014,83663.0,72.0,Female,74.6,163.5,27.9,110.5,52.0,108.0,94.0,NaN,NaN,6.6,NaN,Borderline,Yes
19875,2013-2014,83676.0,51.0,Female,60.0,152.1,25.9,90.5,72.0,114.0,74.0,1.727,117.0,6.8,8.327,Yes,Yes
19907,2013-2014,83708.0,64.0,Male,175.2,188.3,49.4,157.6,68.0,92.0,64.0,1.276,103.0,8.9,7.993,Yes,Yes
19922,2013-2014,83723.0,61.0,Male,99.5,173.5,33.1,115.0,68.0,138.0,74.0,1.163,116.0,7.4,8.826,Yes,Yes