# Dinh et al. (2019)

## A data-driven approach to predicting diabetes and cardiovascular disease with machine learning

URL: https://bmcmedinformdecismak.biomedcentral.com/articles/10.1186/s12911-019-0918-5


## Brief Summary

Dinh et al. (2019) uses different ML models (logistic regression, support vector machines, random forest, and gradient boosting) on NHANES dataset to predict i) Diabetes and ii) Cardiovascular disease ("CVD").

**Goal**: Identification mechanism for patients at risk of diabetes and cardiovascular diseases and key contributors to diabetes .

**Results**:

Best scores:

- CVB prediction based on 131 NHANES variables achieved an AU-ROC score of 83.9% .
- Diabetes prediction based on 123 NHANES variables achieved an AU-ROC score of 95.7% .
- Pre-diabetic prediction based on 123 NHANES variables achieved an AU-ROC score of 84.4% .
- Top 5 predictors in diabetes patients were 1) `waist size`, 2) `age`, 3) `self-reported weight`, 4) `leg length`, 5) `sodium intake`.



This notebook replicates the results of the paper. The structure follows the following steps: 

1. NHANES data 
2. Pre-processing of the data
3. Transformation of the data
4. Train/Test Split 
5. CV 10-fold
6. Training monitoring using MLflow
7. Get metric results (AUC)


The structure of the analysis emulates the Figure 1 from the paper: 

![Fig 1 from Dinh et al. 2019](https://raw.githubusercontent.com/pipegalera/ml_diabetes/main/images/dinh_2019_Fig1.png)

In [1]:
import pandas as pd
import numpy as np

In [2]:
SEED = 4208
DATA_PATH = "/root/dev/ml_diabetes/data/raw_data/NHANES/"
DINH_DOCS_PATH = "/root/dev/ml_diabetes/data/processed/NHANES/"

## 1. HNANES data

### Covariates and Targets 

- Source: https://www.cdc.gov/nchs/index.htm
- Downloaded raw data via: `notebooksnhanes_data_backfill`


The paper did not mention what variables they use from NHANES. I emailed the author in the correspondence section of the paper to try to get the list of variables they used, but no answer from him yet.

Please notice that NHANES have more than 3900 variables, therefore without the list of the specific variables used it is impossible to fully replicate the paper.

For now, I will consider the variables taken from [Figure 5](https://raw.githubusercontent.com/pipegalera/ml_diabetes/main/images/dinh_2019_Fig5.png) and [Figure 6](https://raw.githubusercontent.com/pipegalera/ml_diabetes/main/images/dinh_2019_Fig6.png) of the paper. I compiled them by hand in an Excel file using NHANES search tool for variables (see: `processed/NHANES/dinh_2019_variables_doc.xlsx`).


- `Case I: Diabetes`

    - Glucose >= 126 mg/dL. OR;
    - 1 to the question "Have you ever been told by a doctor that you have diabetes?"

- `Case II: Undiagnosed Diabetes`

    - Glucose >= 126 mg/dL. AND;
    - "No" to the question "Have you ever been told by a doctor that you have diabetes?"

- `Cardiovascular disease`

    - 1 to any of the the questions "Have you ever been told by a doctor that you had congestive heart failure, coronary heart disease, a heart attack, or a stroke?"

- `Pre diabetes`

    - Glucose 125 >= 100 mg/dL

In [3]:
dinh_2019_vars = pd.read_excel(f"{DINH_DOCS_PATH}dinh_2019_variables_doc.xlsx")

dinh_2019_vars[["Variable Name", "NHANES Name"]].head(15)

                    Variable Name NHANES Name
0                             Age    RIDAGEYR
1             Alcohol consumption      ALQ130
2                  Alcohol intake    DRXTALCO
3       Alcohol intake, First Day    DR1TALCO
4      Alcohol intake, Second Day    DR2TALCO
5               Arm circumference     BMXARMC
6                      Arm length     BMXARML
7                Blood osmolality    LBXSOSSI
8   Blood relatives have diabetes     MCQ250A
9             Blood urea nitrogen    LBDSBUSI
10                            BMI      BMXBMI
11                Caffeine intake    DRXTCAFF
12     Caffeine intake, First Day    DR1TCAFF
13    Caffeine intake, Second Day    DR2TCAFF
14      Calcium intake, First Day    DR1TCALC

For the complete list of variables, check the file `dinh_2019_variables_doc.xlsx` under NHANES data folder.

NHANES data is made by multiple files (see `NHANES` unde data folder) that have to be compiled together. The data was downloaded automatically via script, all the files converted from SAS to parquet, and the files were stacked and merged based on the individual index ("SEQN"). For more details please check the `nhanes_data_backfill` notebook. 

Plese notice that no transformation are made to the covariates, the files were only arranged and stacked together.

In [4]:
df = pd.read_parquet(f"{DATA_PATH}dinh_raw_data.parquet")

In [5]:
df.head()

,SEQN,YEAR,RIDAGEYR,ALQ130,DRXTALCO,DR1TALCO,DR2TALCO,BMXARMC,BMXARML,LBXSOSSI,...,SEQ060,DIQ010,MCQ160B,MCQ160b,MCQ160C,MCQ160c,MCQ160E,MCQ160e,MCQ160F,MCQ160f
0,1.0,1999-2000,2.0,NaN,0.00,NaN,NaN,15.2,18.6,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,1999-2000,77.0,1.0,0.00,NaN,NaN,29.8,38.2,288.0,...,NaN,2.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN
2,3.0,1999-2000,10.0,NaN,0.00,NaN,NaN,19.7,25.5,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4.0,1999-2000,1.0,NaN,0.00,NaN,NaN,16.4,20.4,NaN,...,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5.0,1999-2000,49.0,3.0,34.56,NaN,NaN,35.8,39.7,276.0,...,NaN,2.0,2.0,NaN,2.0,NaN,2.0,NaN,2.0,NaN

In [6]:
df.shape[0]

82091

In [7]:
df.columns

Index(['SEQN', 'YEAR', 'RIDAGEYR', 'ALQ130', 'DRXTALCO', 'DR1TALCO',
       'DR2TALCO', 'BMXARMC', 'BMXARML', 'LBXSOSSI', 'MCQ250A', 'LBDSBUSI',
       'BMXBMI', 'DRXTCAFF', 'DR1TCAFF', 'DR2TCAFF', 'DR1TCALC', 'DR2TCALC',
       'DRXTCALC', 'DR1TCARB', 'DR2TCARB', 'DRXTCARB', 'LBXSNASI', 'LBXSCLSI',
       'MCQ300c', 'MCQ300C', 'BPXDI1', 'BPXDI4', 'BPXDI2', 'BPXDI3',
       'RIDRETH1', 'DR1TFIBE', 'DR2TFIBE', 'DRXTFIBE', 'LBXSGTSI', 'HSD010',
       'HUQ010', 'LBDHDLSI', 'LBDHDDSI', 'BMXHT', 'BPQ080', 'INDHHIN2',
       'DRXTKCAL', 'DR1TKCAL', 'DR2TKCAL', 'LBDLDLSI', 'BMXLEG', 'LBDLYMNO',
       'LBXMCVSI', 'BPXPLS', 'WHD140', 'DR1TSODI', 'DR2TSODI', 'DRDTSODI',
       'BPXSY1', 'BPXSY4', 'BPXSY2', 'BPXSY3', 'LBDTCSI', 'LBDSTRSI',
       'BMXWAIST', 'BMXWT', 'LBXWBCSI', 'LBXSASSI', 'LBXGLUSI', 'LBDGLUSI',
       'RHQ141', 'RHD143', 'SEQ060', 'DIQ010', 'MCQ160B', 'MCQ160b', 'MCQ160C',
       'MCQ160c', 'MCQ160E', 'MCQ160e', 'MCQ160F', 'MCQ160f'],
      dtype='object')

## 2. Pre-processing and Data modeling


### 2.1 Extreme values and replacing Missing/Don't know answers

> The preprocessing stage also converted any undecipherable values (errors in datatypes and standard formatting) from the database to null representations.

For this, I've checked the variables according to their possible values in the NHANES documentation (https://wwwn.cdc.gov/nchs/nhanes/search/default.aspx). I did not found any any extreme value out of the possible ranges. However, the data is reviwed and updated after the survey, so it might be that the NCHS applied some fixes after they saw them. 


I have replaced "Don't know" and "Refused" for NA values and converted the intial encoding of the categorical variables to the real values in the survey - given that the encoding is not consistent accross years. For the model, I will encode the variables myself so I don't have to jungle NHANES encoding. 

All the variables can by found at  https://wwwn.cdc.gov/nchs/nhanes/search/default.aspx

In [8]:
# These are numerical variables that have coded "Don't know" and "Refused" as numerical
df['ALQ130'] = df['ALQ130'].replace([77, 99, 777, 999], np.nan)
df['WHD140'] = df['WHD140'].replace([7777, 77777, 9999, 99999], np.nan)


### 2.2 Homogenize variables that are the same but are called diffrent in different NHANES years

Intake variables went from 1 day in 1999 to 2001 to 2 days from 2003 on, therefore the variable has to be homogenized. Dinh et al. (2019) do not specify which examination records the authors, but my best guess is that they problably took the average of both days that the examination was performed. 

This situation happends with:

- Alcohol intake (`DRXTALCO`, `DR1TALCO`, `DR2TALCO`)
- Caffeine intake (`DRXTCAFF`, `DR1TCAFF`, `DR2TCAFF`)
- Calcium intake (`DRXTCALC`, `DR1TCALC`, `DR2TCALC`)
- Carbohydrate intake (`DRXTCARB`, `DR1TCARB`, `DR2TCARB`)
- Fiber intake (`DRXTFIBE`, `DR1TFIBE`, `DR2TFIBE`)
- Kcal intake (`DRXTKCAL`, `DR1TKCAL`, `DR2TKCAL`)
- Sodium intake (`DRDTSODI`, `DR1TSODI`, `DR2TSODI`)


Also, small changes in same quesion format are registered with different codes. Examples: 

- `MCQ250A`, `MCQ300C` and `MCQ300c`
- `LBDHDDSI` and `LBDHDLSI`
- `LBXGLUSI` and `LBDGLUSI`
- `SEQ060`,`RHQ141`, and `RHD143`

And same questions are coded differnetly as well:

- `MCQ160B` and `MCQ160b`
- `MCQ160C` and `MCQ160c`
- `MCQ160E` and `MCQ160e`
- `MCQ160F` and `MCQ160F`


It can be seen here:

In [9]:
# Similar questions (or the same) with different NHANES variable codes
var_docs = pd.read_excel(f"{DINH_DOCS_PATH}dinh_2019_variables_doc.xlsx")

filtered_var_docs = var_docs[var_docs['NHANES Name'].isin(
    ['MCQ250A', 'MCQ300C', 'MCQ300c', 
     'LBDHDDSI', 'LBDHDLSI', 'LBXGLUSI', 'LBDGLUSI']
)]

To fix that, I will create a function that creates an average of the Intake variable of Day 1 and Day and average them, givin only one variable - for example "Alcohol_Intake" instead of having 'DRXTALCO', 'DR1TALCO', 'DR2TALCO'.

In [10]:
def create_intake_new_column(df, day0_col, day1_col, day2_col):
    return np.where(df[day0_col].isna(),
                    df[[day1_col, day2_col]].mean(axis=1, skipna=True),
                    df[day0_col])

# Assuming df is already defined and loaded with data

# Create new columns
df['Alcohol_Intake'] = create_intake_new_column(df, 'DRXTALCO', 'DR1TALCO', 'DR2TALCO')
df['Caffeine_Intake'] = create_intake_new_column(df, 'DRXTCAFF', 'DR1TCAFF', 'DR2TCAFF')
df['Calcium_Intake'] = create_intake_new_column(df, 'DRXTCALC', 'DR1TCALC', 'DR2TCALC')
df['Carbohydrate_Intake'] = create_intake_new_column(df, 'DRXTCARB', 'DR1TCARB', 'DR2TCARB')
df['Fiber_Intake'] = create_intake_new_column(df, 'DRXTFIBE', 'DR1TFIBE', 'DR2TFIBE')
df['Kcal_Intake'] = create_intake_new_column(df, 'DRXTKCAL', 'DR1TKCAL', 'DR2TKCAL')
df['Sodium_Intake'] = create_intake_new_column(df, 'DRDTSODI', 'DR1TSODI', 'DR2TSODI')

# Coalesce functions
df['Relative_Had_Diabetes'] = df['MCQ250A'].combine_first(df['MCQ300C']).combine_first(df['MCQ300c'])
df['Told_CHF'] = df['MCQ160B'].combine_first(df['MCQ160b'])
df['Told_CHD'] = df['MCQ160C'].combine_first(df['MCQ160c'])
df['Told_HA'] = df['MCQ160E'].combine_first(df['MCQ160e'])
df['Told_stroke'] = df['MCQ160F'].combine_first(df['MCQ160f'])
df['Pregnant'] = df['SEQ060'].combine_first(df['RHQ141']).combine_first(df['RHD143'])
df['HDL_Cholesterol'] = df['LBDHDLSI'].combine_first(df['LBDHDDSI'])
df['Glucose'] = df['LBXGLUSI'].combine_first(df['LBDGLUSI'])

# Delete old columns that are not needed
columns_to_drop = ['DRXTALCO', 'DR1TALCO', 'DR2TALCO', 'DRXTCAFF', 'DR1TCAFF', 'DR2TCAFF',
                   'DRXTCALC', 'DR1TCALC', 'DR2TCALC', 'DRXTCARB', 'DR1TCARB', 'DR2TCARB',
                   'DRXTFIBE', 'DR1TFIBE', 'DR2TFIBE', 'DRXTKCAL', 'DR1TKCAL', 'DR2TKCAL',
                   'DRDTSODI', 'DR1TSODI', 'DR2TSODI', 'MCQ250A', 'MCQ300C', 'MCQ300c',
                   'MCQ160B', 'MCQ160b', 'MCQ160C', 'MCQ160c', 'MCQ160E', 'MCQ160e',
                   'MCQ160F', 'MCQ160f', 'SEQ060', 'RHQ141', 'RHD143',
                   'LBDHDLSI', 'LBDHDDSI', 'LBXGLUSI', 'LBDGLUSI']

df = df.drop(columns=columns_to_drop)

In [11]:
df[df['Relative_Had_Diabetes'].isna()]['YEAR'].unique()

array(['1999-2000', '2001-2002', '2003-2004', '2005-2006', '2007-2008',
       '2009-2010', '2011-2012', '2013-2014'], dtype=object)

### 2.3 Choosing between different readings in Blood analysis 

[From NHANES](https://wwwn.cdc.gov/Nchs/Nhanes/2013-2014/BPX_H.htm): 

> After resting quietly in a seated position for 5 minutes and once the participants maximum inflation level (MIL) has been determined, three consecutive blood pressure readings are obtained. If a blood pressure measurement is interrupted or incomplete, a fourth attempt may be made. All BP determinations (systolic and diastolic) are taken in the mobile examination center (MEC). 

In Dinh et al. (2019) the authors do not say which readings are taking, but I'm assuming they take the last one to avoid the [white coat syndrom](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5352963/) and for data consistency.

In [12]:
# Create new columns
df['Diastolic_Blood_Pressure'] = df['BPXDI4'].combine_first(df['BPXDI3']).combine_first(df['BPXDI2']).combine_first(df['BPXDI1'])
df['Systolic_Blood_Pressure'] = df['BPXSY4'].combine_first(df['BPXSY3']).combine_first(df['BPXSY2']).combine_first(df['BPXSY1'])

# Delete old columns that are not needed
columns_to_drop = ['BPXDI4', 'BPXDI3', 'BPXDI2', 'BPXDI1',
                   'BPXSY4', 'BPXSY3', 'BPXSY2', 'BPXSY1']

df = df.drop(columns=columns_to_drop)

### 2.4 Discretional trimming of the data according to the authors

> In our study, all datasets were limited to non-pregnant subjects and adults of at least twenty years of age.

In [14]:

# Filter out pregnant individuals and those under 20 years old
cond_1 = (df['Pregnant'].isna()) | (df['Pregnant'] != 1)
cond_2 =(df['RIDAGEYR'] >= 20)
df = df[cond_1 & cond_2]

#df = df.drop(columns=['Pregnant'])

In [15]:
df.shape[0]

42655

### 2.5 Creating the  Target Variables

Tables 1 & 3 from Dinh et al. 2019:

From [Tables 1 & 3 from Dinh et al. 2019](https://raw.githubusercontent.com/pipegalera/ml_diabetes/main/images/dinh_2019_Table1_3.png):

`Diabetes = 1` if

- Glucose >= 126 mg/dL. OR;
- "Yes" to the question "Have you ever been told by a doctor that you have diabetes?"

`undiagnosed diabetes = 1` if

- Glucose >= 126 mg/dL. AND;
- "No" to the question "Have you ever been told by a doctor that you have diabetes?" and had a blood glucose level greater than or equal

`pre diabetes = 1` if

- Glucose 125 >= 100 mg/dL

`CVD = 1` if

- "Yes" to any of the the questions "Have you ever been told by a doctor that you had congestive heart failure, coronary heart disease, a heart attack, or a stroke?"

In [17]:
df['DIQ010'].unique() #1=yes, 2=no

array([ 2.,  1.,  3.,  9., nan,  7.])

In [18]:
df['Diabetes_Case_I'] = np.where(
  (df['Glucose'] > 7.0) | (df['DIQ010'] == 1), 
  1, 
  0)


df['Diabetes_Case_II'] = np.where(
  (df['Diabetes_Case_I'] == 0) & (df['Glucose'] >= 5.6) & (df['Glucose'] < 7.0), 
  1, 
  0)

df['CVD'] = np.where(
    (df['Told_CHF'] == 1) | (df['Told_CHD'] == 1) | (df['Told_HA'] == 1) | (df['Told_stroke'] == 1),
    1, 
    0)

# Drop the unnecessary columns
#df = df.drop(columns=['Told_CHF', 'Told_CHD', 'Told_HA', 'Told_stroke', 'Glucose', 'DIQ010'])

### 2.6 Column name formatting

In [20]:
df = df.rename(columns={
    'ALQ130': 'Alcohol_consumption',
    'BMXARMC': 'Arm_circumference',
    'BMXARML': 'Arm_length',
    'BMXBMI': 'Body_mass_index',
    'BMXHT': 'Height',
    'BMXLEG': 'Leg_length',
    'BMXWAIST': 'Waist_circumference',
    'BMXWT': 'Weight',
    'BPQ080': 'Told_High_Cholesterol',
    'BPXPLS': 'Pulse',
    'HSD010': 'General_health',
    'HUQ010': 'Health_status',
    'INDHHIN2': 'Household_income',
    'LBXSCLSI': 'Chloride',
    'LBXSNASI': 'Sodium',
    'LBDLDLSI': 'LDL_cholesterol',
    'LBDLYMNO': 'Lymphocytes',
    'LBDSBUSI': 'Blood_urea_nitrogen',
    'LBDSTRSI': 'Triglycerides',
    'LBDTCSI': 'Total_cholesterol',
    'LBXMCVSI': 'Mean_cell_volume',
    'LBXSASSI': 'Aspartate_aminotransferase_AST',
    'LBXSGTSI': 'Gamma_glutamyl_transferase',
    'LBXSOSSI': 'Osmolality',
    'LBXWBCSI': 'White_blood_cell_count',
    'RIDAGEYR': 'Age',
    'RIDRETH1': 'Race_ethnicity',
    'WHD140': 'Self_reported_greatest_weight',
    'YEAR': 'Survey_year'
})

In [21]:
df.columns

Index(['SEQN', 'Survey_year', 'Age', 'Alcohol_consumption',
       'Arm_circumference', 'Arm_length', 'Osmolality', 'Blood_urea_nitrogen',
       'Body_mass_index', 'Sodium', 'Chloride', 'Race_ethnicity',
       'Gamma_glutamyl_transferase', 'General_health', 'Health_status',
       'Height', 'Told_High_Cholesterol', 'Household_income',
       'LDL_cholesterol', 'Leg_length', 'Lymphocytes', 'Mean_cell_volume',
       'Pulse', 'Self_reported_greatest_weight', 'Total_cholesterol',
       'Triglycerides', 'Waist_circumference', 'Weight',
       'White_blood_cell_count', 'Aspartate_aminotransferase_AST', 'DIQ010',
       'Alcohol_Intake', 'Caffeine_Intake', 'Calcium_Intake',
       'Carbohydrate_Intake', 'Fiber_Intake', 'Kcal_Intake', 'Sodium_Intake',
       'Relative_Had_Diabetes', 'Told_CHF', 'Told_CHD', 'Told_HA',
       'Told_stroke', 'Pregnant', 'HDL_Cholesterol', 'Glucose',
       'Diastolic_Blood_Pressure', 'Systolic_Blood_Pressure',
       'Diabetes_Case_I', 'Diabetes_Case_II', 'CVD'],
      dtype='object')

In [22]:
df

,SEQN,Survey_year,Age,Alcohol_consumption,Arm_circumference,Arm_length,Osmolality,Blood_urea_nitrogen,Body_mass_index,Sodium,...,Told_HA,Told_stroke,Pregnant,HDL_Cholesterol,Glucose,Diastolic_Blood_Pressure,Systolic_Blood_Pressure,Diabetes_Case_I,Diabetes_Case_II,CVD
1,2.0,1999-2000,77.0,1.0,29.8,38.2,288.0,6.80,24.90,144.1,...,2.0,2.0,NaN,1.39,4.646,56.0,98.0,0,0,0
4,5.0,1999-2000,49.0,3.0,35.8,39.7,276.0,5.70,29.10,137.5,...,2.0,2.0,NaN,1.08,5.550,82.0,122.0,0,0,0
6,7.0,1999-2000,59.0,NaN,31.7,38.1,283.0,3.60,29.39,143.2,...,2.0,2.0,2.0,2.73,4.756,82.0,124.0,0,0,0
9,10.0,1999-2000,43.0,1.0,37.6,43.0,281.0,4.60,30.94,140.9,...,2.0,2.0,NaN,1.31,4.989,96.0,142.0,0,0,0
11,12.0,1999-2000,37.0,3.0,37.2,40.0,283.0,7.10,30.62,141.3,...,2.0,2.0,NaN,0.98,4.606,100.0,176.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82082,83723.0,2013-2014,61.0,2.0,35.8,40.0,280.0,6.07,33.10,138.0,...,2.0,2.0,NaN,1.27,8.826,68.0,138.0,1,0,0
82083,83724.0,2013-2014,80.0,NaN,31.0,36.0,287.0,9.28,24.90,141.0,...,2.0,2.0,NaN,1.32,NaN,66.0,168.0,0,0,0
82085,83726.0,2013-2014,40.0,NaN,31.0,39.0,NaN,NaN,26.80,NaN,...,2.0,2.0,NaN,NaN,NaN,NaN,NaN,0,0,0
82086,83727.0,2013-2014,26.0,3.0,29.9,35.2,285.0,4.64,24.50,143.0,...,2.0,2.0,NaN,1.42,5.995,76.0,112.0,0,1,0
82088,83729.0,2013-2014,42.0,NaN,37.0,37.6,277.0,3.57,34.00,139.0,...,2.0,2.0,NaN,1.24,NaN,80.0,138.0,0,0,0

## 3. Model Development

### 3.1 Train/Test split

The paper do a 80/20 split to train the model, trying to keep the target class proportions of the NHANES population in train and test sets:

> Downsampling was used to produce a balanced 80/20 train/test split.

First, I created a split based on the interaction of all the targets to keep the balance of the target labels. Afterwards, I created a quick R function to check it:

In [27]:
from sklearn.model_selection import train_test_split


df['strata'] = df['Diabetes_Case_I'].astype(str) + '_' + df['Diabetes_Case_II'].astype(str) + '_' + df['CVD'].astype(str)
train_data, test_data = train_test_split(df, 
                                         test_size=0.2, 
                                         random_state=SEED, 
                                         stratify=df['strata'])

train_data = train_data.drop(columns=['strata'])
test_data = test_data.drop(columns=['strata'])

In [42]:
perc = round((data['Diabetes_Case_I'].sum()/data.shape[0]),4)*100
object_name = [name for name in globals() if globals()[name] is train_data][0]

'train_data'

In [44]:
def percent_target(data, target):
    percentage = round((data[target].sum()/data.shape[0]),4)*100
    object_name = [name for name in globals() if globals()[name] is data][0]
    print(f"In {object_name}, percentage of cases of {target} is {percentage}%")

# Assuming 'df', 'train_data', and 'test_data' are already defined
percent_target(df, "Diabetes_Case_I")
percent_target(train_data, "Diabetes_Case_I")
percent_target(test_data, "Diabetes_Case_I")

percent_target(df, "Diabetes_Case_II")
percent_target(train_data, "Diabetes_Case_II")
percent_target(test_data, "Diabetes_Case_II")

percent_target(df, "CVD")
percent_target(train_data, "CVD")
percent_target(test_data, "CVD")

In df, percentage of cases of Diabetes_Case_I is 13.43%
In train_data, percentage of cases of Diabetes_Case_I is 13.43%
In test_data, percentage of cases of Diabetes_Case_I is 13.43%
In df, percentage of cases of Diabetes_Case_II is 13.08%
In train_data, percentage of cases of Diabetes_Case_II is 13.08%
In test_data, percentage of cases of Diabetes_Case_II is 13.08%
In df, percentage of cases of CVD is 10.84%
In train_data, percentage of cases of CVD is 10.84%
In test_data, percentage of cases of CVD is 10.84%

### 3.2 ML pipeline

I will use `caret` random search cross-validation implementation, as it might be the closest library to `sklearn` in python. More [here](https://topepo.github.io/caret/random-hyperparameter-search.html).

The models are not very intensive in terms of hypertuning (with the exception of XGBoost that I will probably set a time limit). 

The information about the hypertunning of the model in the paper is rather confusing:


> For each model, a grid-search approach with parallelized performance evaluation for model parameter tuning was used to generate the best model parameters. Next, each of the models underwent a 10-fold cross-validation (10 folds of training and testing with randomized data-split)

It doesn't make so much sense to do grid-search on the entire training set before a cross-validation. The reason is that you would basically train the data before the validation set that you are using to check if the model generalize well. And then the whole purpose of the cross-validation is to check model fit outside of the training set - it would lose all purpose. 

My best guess is that they used `GridSearchCV/RandomSearchCV` from sklearn and they assumed that the grid search go first. 

In the pipeline I also included encoding and standarization similar to the one done by the authors: 

> Normalization was performed on the data using the following standardization model: x' = x−x^/σ 


The ML pipelines will follow the these steps, imitatting the paper:

1. Apply preprocessing (encoding and standarization) to the initial data. 
2. Split data into train (80%) and test (20%) sets.
3. Train and tune the 4 standard models using 10-fold CV random grid search on the train set.
4. Create the Weighted Ensemble Model (WEM) based on the 4 models and weighted by AUC scores.
5. Evaluate the final model on the test set.

In [45]:
# Categorical variables
categorical_vars = [
    'Race_ethnicity',
    'General_health',
    'Health_status',
    'Told_High_Cholesterol',
    'Household_income',
    'Relative_Had_Diabetes'
]

# Numerical variables
numerical_vars = [
    'Age',
    'Alcohol_consumption',
    'Arm_circumference',
    'Arm_length',
    'Osmolality',
    'Blood_urea_nitrogen',
    'Body_mass_index',
    'Chloride',
    'Sodium',
    'Gamma_glutamyl_transferase',
    'Height',
    'LDL_cholesterol',
    'Leg_length',
    'Lymphocytes',
    'Mean_cell_volume',
    'Pulse',
    'Self_reported_greatest_weight',
    'Total_cholesterol',
    'Triglycerides',
    'Waist_circumference',
    'Weight',
    'White_blood_cell_count',
    'Aspartate_aminotransferase_AST',
    'Alcohol_Intake',
    'Caffeine_Intake',
    'Calcium_Intake',
    'Carbohydrate_Intake',
    'Fiber_Intake',
    'Kcal_Intake',
    'Sodium_Intake',
    'HDL_Cholesterol',
    'Diastolic_Blood_Pressure',
    'Systolic_Blood_Pressure'
]

In [ ]:
# Parallel computation to speed up modeling
cl <- makePSOCKcluster(detectCores() - 1)
registerDoParallel(cl)

#target_vars <- c("Diabetes_Case_I", "Diabetes_Case_II", "CVD")
data <- train_data
target <- "Diabetes_Case_I"

# Create Target 
y <-  as.factor(data[[target]])

# Standarization and encoding of categorical variables.
X <- data |> select(all_of(c(numerical_vars, categorical_vars)))

# Preprocessing
rec <- recipe(~ ., data = X) |>
  step_unknown(all_of(categorical_vars)) |> # assign a missing value in a factor level to "unknown".
  step_mutate_at(all_of(categorical_vars), fn = as.factor) |>
  step_integer(all_of(categorical_vars)) |>
  step_normalize(all_of(numerical_vars)) |>
  step_impute_mean(all_of(numerical_vars)) # Needed for lr and svm

prep_rec <- prep(rec)
X_processed <- bake(prep_rec, new_data = X)
X_processed <- as.data.frame(X_processed)

# 10F CV with Random Search
control_cv <- trainControl(
    method = "cv",
    number = 10,
    search = "random",
    classProbs = TRUE,
    summaryFunction = twoClassSummary,
  )

# Models 
set.seed(SEED)

# Model 1 : Logistic Regression
lr <- train(x = X_processed,
            y = y,
            method="glm",
            family="binomial",
            metric="ROC",
            trControl=control_cv
                      )

# Model 2: Support Vector Machine
svm <- train(x = X_processed,
            y = y,
            method="svmRadialWeights",
            metric="ROC",
            trControl=control_cv,
            tuneLength=10
     )




stopCluster(cl)

In [ ]:
X_processed

In [ ]:
# Model 3: XGBoost 

tune_grid <- expand.grid(nrounds = 200,
                        max_depth = 5,
                        eta = 0.05,
                        gamma = 0.01,
                        colsample_bytree = 0.75,
                        min_child_weight = 0,
                        subsample = 0.5)

xgb <- train(x = X_processed,
            y = y,
            method="svmRadial",
            metric="ROC",
            trControl=control_cv,
            tuneGrid = tune_grid,
            tuneLength = 10)
            )

### 3.3 Predictive Models

Models used in the paper:

- Logistic Regression
- Support Vector Machine
- Random Forest
- Gradient Boosted Trees
- Ensemble model of the 5 models.

In [ ]:
set.seed(SEED)

# Model 1 : Logistic Regression
lr <- train(x = X_train,
            y = y_train,
            method="glm",
            family="binomial",
            metric="AUC",
            trControl=control_cv,
            tuneLength=1
                      )

## 4. Model Comparison

In [ ]:
model_auc <- function(model, X_data, y_data) {

    # AUC 
    predictions <- predict(model, newdata = X_data, type = "prob")
    roc_score <- roc(y_data, predictions[, "Yes"], quiet = TRUE)
    auc_score <- round(auc(roc_score), 3)
    # Message 
    data_name <- deparse(substitute(X_data))
    glue("AUC score for Logistic Regression on {data_name}: {auc_score} ")

}

model_auc(lr, X_test, y_test)

In [ ]:
roc_score

In [ ]:
library(ggplot2)

# Convert ROC object to data frame
roc_data <- data.frame(
  FPR = 1 - roc_obj$specificities,
  TPR = roc_obj$sensitivities
)

ggplot(roc_data, aes(x = FPR, y = TPR)) +
  geom_line(color = "blue", size = 1) +
  geom_abline(intercept = 0, slope = 1, linetype = "dashed", color = "red") +
  labs(title = "ROC Curve",
       x = "False Positive Rate", 
       y = "True Positive Rate") +
  annotate("text", x = 0.75, y = 0.25, 
           label = paste("AUC =", round(auc(roc_obj), 3))) +
  theme_minimal()

In [ ]:
#jupyter nbconvert --to markdown R_replicate_Dinh.ipynb --output README.md